
node_modules/
dist/
build/
coverage/


.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
.idea/


.env
.env.*
client/.env
client/.env.*
server/.env
server/.env.*


!client/.env.example
!server/.env.example


.vercel/
.render/
